@model new1.Models.UsuarioViewModel

@{
    ViewData["Title"] = "Registro";
}

<h2> Registro </h2>

<form asp-action="Registro" asp-controller="Home">
    <div>
        <label asp-for="Nome" ></label>
        <input asp-for="Nome" />
    </div>

    <div>
        <label asp-for="Sobrenome"></label>
        <input asp-for="Sobrenome" />
    </div>

    <div>
        <label asp-for="Idade"></label>
        <input asp-for="Idade" />
    </div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
    </div>

    <div>
        <label asp-for="Senha"></label>
        <input asp-for="Senha" />
    </div>
</form>